*{		
	margin:0;
	padding:0;
}
.head{
	margin:0;
	height:80px;
	line-height:80px;
	width:100%;
	color:white;
	border:none;
	background-color:#121212;
}
#title{
	font-family:"微软雅黑";
	font-size:30px;
	font-weight:bold;
	margin:20px;
}
a{
	text-decoration: none;
}
article,header,section{
	display:block;
}
section.content{ 
float: left;
padding-right: 5%;
width: 100%;
}
article header .date { 
color: silver;
}
article{
	margin:50px auto;
	border:none;
	width:70%;
	font-family: "PT Serif", "Georgia", "Times", "Times New Roman", serif;
}
article .entry{
	margin-top:10px;
	font-size: 20px;
	line-height: 2em;
	color: #2C3437;
}
header h1 a{
	font-size:40px;
	color:black;
}
header p{
	font-size:20px;
	color:silver;
}
.tags li{ 
	margin-right:3px;
	float:left;
	list-style: none outside none;
	font-size: 0.8em;
}
.tags li a{
	color: #2C3437;
}
.post{
	text-align:center;
	font-family: "PT Serif", "Georgia", "Times", "Times New Roman", serif;
}
.content{
	color:white;
	background-color:#121212;
}