*{		
	margin:0;
	padding:0;
}
body{
	font-family:"微软雅黑";
}
.head{
	margin:0;
	height:80px;
	line-height:80px;
	width:100%;
	color:white;
	border:none;
	background-color:#121212;
}
#title{
	font-size:30px;
	font-weight:bold;
	margin:20px;
}

article,header,section{
	display:block;
}
section.content{ 
float: left;
padding-right: 5%;
width: 100%;
}
a { 
color: #113355;
font-weight: 700;
text-decoration: none;
transition: color 0.2s cubic-bezier(0, 0, 0.58, 1) 0;
}
article header .date { 
color: #888888;
font-family: "PT Sans", "Helvetica", "Arial", sans-serif;
--margin-top: -36px;
}
article{
	margin:30px auto;
	border:1px solid none;
	width:70%;
}
header h1 a{
	font-size:40px;
}
header p{
	font-size:20px;
	color:silver;
}