---
layout: default
title: 我的Blog
---

<article>
{% for post in site.posts %} 
<header>
	<h1><a href="{{ site.baseurl }}{{ post.url }}" target="_blank">{{ post.title }}</a></h1>
	<p class="date">{{ post.date | date_to_string }}</p>
</header>

<section class="entry">{{ post.description }}</section>

<section class="tags">
	<ul>
		<li>Filed under:</li>
		{% for tag in post.tags %}
			<li><a href="#">{{ tag | capitalize }}</a></li>
		{% endfor %}
	</ul>
</section>

{% endfor %}
</article>
</ul>
