<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>HataOuji</title>
		<link rel="stylesheet" href="css/style.css">
		<link rel="icon" href="images/qq.ico" type="image/x-icon">
		<link rel="shortcut icon" href="images/qq.ico" type="image/x-icon" >
    </head>
    
    <body>
        <div class='head'>
			<span id='title'>黄诚实Blog<span>
        </div>
        <div>
            {{ content }}
        </div>

    </body>


</html>