<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>HataOuji</title>
		<style>
		body{
		background-color:#232323;
		}
		.head{
		height:40px;
		width:100%;
		color:#666;
		border:none;
		background-color:#121212;
		}
		#title{
		margin:20px 5px 15px 20px;
		}
		</style>
    </head>
    
    <body>
        <div class='head'>
			<span id='title'>黄诚实Blog<span>
        </div>
        <div>
            {{ content }}
        </div>

    </body>


</html>